@charset "utf-8";
      #gallery
        {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #202020;
        }
        #gallery ul
        {
	list-style: none;
	margin-left: -19px;
        }
        #gallery ul li
        {
            display: inline;
        }
        #gallery ul img
        {
            border: 5px solid #3e3e3e;
            border-width: 5px 5px 20px;
        }
        #gallery ul a:hover img
        {
            border: 5px solid #fff;
            border-width: 5px 5px 20px;
            color: #fff;
        }
        #gallery ul a:hover
        {
            color: #fff;
        }
#Reglamento{
	margin-right: auto;
	margin-left: auto;
	height: 600px;
	width: 820px;
	
	}
